#page-title {
  text-align: center;
  color: rgb(3, 2, 112);
}

/* looked up how to create a color gradient at 
https://css-tricks.com/css3-gradients/ */
#welcome-background {
  width: 100%;
  height: 200px;
  padding: 10px;
  background-image: linear-gradient(to right, rgb(29, 177, 0), rgb(25, 0, 248));
  margin-bottom: 50px;
}

#welcome-text {
  font-size: 5em;
  text-align: center;
}

#footer-container {
  text-align: center;
}

#goodbye-gif {
  width: 225px;
  height: 150px;
  margin-bottom: 10px;
}

#github-button {
  width: 150px;
  height: 60px;
  background-color: rgb(7, 139, 247);
  color: white;
  border: none;
  border-radius: 10px;
}
